body {
  margin:0;
  font-family: Arial;
  background:#f5f7fb;
}

header {
  background:white;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.logo h2 {
  font-size: 32px;
  margin-bottom: 0;
  margin-top : 0px;
}
.logo span {
  color:gray;
  font-size:14px;
}

.hero {
  text-align:center;
  padding:40px 20px;
}

.hero h1 span {
  color:#2457ff;
  font-size: 34px;
}

.tag {
  background:#e6efff;
  padding:8px 15px;
  border-radius:30px;
  display:inline-block;
  margin-bottom:15px;
}

.buttons button {
  padding:12px 25px;
  margin:10px;
  border-radius:10px;
  border:none;
}

.primary {
  background:#2457ff;
  color:white;
}

.outline {
  background:white;
  border:2px solid #2457ff;
  color:#2457ff;
}

.cards, .products {
  padding:20px;
}

.card, .product {
  background:white;
  padding:20px;
  border-radius:15px;
  margin-bottom:20px;
  box-shadow:0 5px 15px rgba(0,0,0,.05);
}

.product img {
  width:100%;
  border-radius:15px;
}

.contact input, .contact textarea {
  width:100%;
  padding:15px;
  margin:10px 0;
  border-radius:10px;
  border:1px solid #ccc;
}

.contact button {
  background:#2457ff;
  color:white;
  width:100%;
  padding:15px;
  border:none;
  border-radius:10px;
}

footer {
  text-align:left;
  padding:20px;
}
.contact-section{
  padding:40px 20px;
  background:#f5f7fb;
  text-align:center;
}

.contact-box{
  max-width:500px;
  text-align: left;
  margin:auto;
  background:white;
  padding:25px;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,0.05);
}

.contact-box input,
.contact-box textarea{
  width:100%;
  padding:12px;
  margin:10px 0 20px;
  border-radius:8px;
  border:1px solid #ccc;
}

.contact-box button{
  width:100%;
  background:#2457ff;
  color:white;
  padding:15px;
  border:none;
  border-radius:10px;
  font-size:16px;
}

/* FOOTER */

.footer{
  background:#071a2f;
  color:white;
  padding:40px 20px 0;
}

.footer-container{
  display:grid;
  grid-template-columns:1fr;
  gap:30px;
}

.footer h4{
  margin-bottom:10px;
}

.footer ul{
  list-style:none;
  padding:0;
}

.footer ul li{
  margin-bottom:8px;
  color:#ccc;
}

.since{
  color:gold;
  margin-top:10px;
}

.closed{
  color:#ff6b6b;
}

.footer-bottom{
  text-align:center;
  padding:20px;
  border-top:1px solid rgba(255,255,255,0.1);
  margin-top:30px;
  color:#aaa;
}

@media(min-width:768px){
  .footer-container{
    grid-template-columns:repeat(4,1fr);
  }
}